.data {
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: relative;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

section .title::before {
    content: '';
    position: absolute;
    width: 180px;
    bottom: 0;
    left: 50%;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    font-size: 18px;
    color: var(--primary-color);
    bottom: -12px;
    left: 50%;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

.data .title::after {
    content: 'protection data';
}

.data .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.data .content .left {
    width: 45%;
}

.data .content .left img {
    width: 450px;
    height: 350px
}

.data .content .right {
    width: 55%;
}

.data .content .right p {
    text-align: justify;
}

.data .content .right a {
    font-family: 'Poppins';
    padding: .7rem 1.5rem;
    margin: 1rem 0;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #f8f8f8;
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
    border-radius: 4px;
    transition: 0.2s ease-in;
}

.data .content .right a:hover {
    color: #111;
    background: none;
    border: 2px solid var(--primary-color);
}

@media (max-width: 940px) {
    .data {
        padding: 10px 0;
    }

    .data .content .column {
        width: 100%;
    }

    .data .content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 50px;
    }

    .data .content .right {
        margin: 0 2rem 50px;
    }
}